<form class="example-form">
  <mat-form-field class="example-form ">
    <input [(ngModel)]= "name" name = "name" matInput placeholder="first name" value="">
      <mat-hint>Your name</mat-hint>
  </mat-form-field>
  <mat-form-field class="example-form ">
    <input [(ngModel)]= "email" name = "email" matInput placeholder="email" value="">
      <mat-hint>Your email</mat-hint>
  </mat-form-field>
  <p class="error" *ngIf = "code == 'auth/invalid-email'">{{message}}</p>
  <mat-form-field class="example-form ">
    <input [(ngModel)]= "password" name = "password" matInput placeholder="password" value="">
      <mat-hint>Your password</mat-hint>
      <p class="error" *ngIf = "code == 'auth/weak-password'">{{message}}</p>
  </mat-form-field>

  <button mat-raised-button color="primary" (click) = "signup()">
    Sign Up
  </button>
</form>