<div>
  <mat-form-field >
    <input [(ngModel)]= "email" name = "email" matInput placeholder="email" value="">
      <mat-hint>Your email</mat-hint>
  </mat-form-field>
</div>
<div>
  <mat-form-field >
    <input [(ngModel)]= "password" name = "password" matInput placeholder="password" value="">
      <mat-hint>Your password</mat-hint>
  </mat-form-field>
</div>




<div><br>
<button mat-raised-button color="primary" (click) = "login()">
  Log in
</button>
</div>