<mat-card class="example-card">
    <mat-card-content> 
  <a routerLink = "">Todos</a>-
  <a *ngIf= "!(authService.user | async)" routerLink = "/login">login</a>-
  <button *ngIf= "authService.user | async" (click) = "logout()">
    logout
  </button>-
  <a routerLink = "/usertodos">user Todos</a>-
  <button (click) = "toRegister()">
    Register
  </button>-

  <button (click) = "toCodes()">
    Codes
  </button>
  
</mat-card-content> 
</mat-card>

<div *ngIf= "authService.user | async">
  <h1>Welcome {{(authService.user | async)?.displayName}}</h1>
</div>