<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()">
  <span *ngIf= "!showEditField" (click) = "showEdit()" >{{text}} </span>
  <mat-form-field *ngIf= "showEditField" class="example-form">
    <input [(ngModel)]="text" name="text" matInput >
  </mat-form-field>
<button mat-raised-button *ngIf= "showEditField"  color="primary" (click) = "save()"> save</button>
<button mat-raised-button *ngIf= "showEditField"  color="cancel" (click) = "cancel()"> Cancel</button>
 
<button 
    (click)= "delete()"
       *ngIf = "showTheButton">
                          Delete</button>
                        
</li>
